@charset "utf-8";
/* CSS Document */
body{
	background-color: #220337 !important;
}
h6{
	color: white;
}
#map {
	width: 560px;
	height: 400px;
}

.navigator a button{
	background: #8024A9;
	width: 200px;
}

.navigator a button:hover{
	color: greenyellow;
	background-color: black;
}

.navigator {
	align-content: center;
	padding: 15px;
}

#inf {
	padding-right: 50px;
	align-content: center;
	color: aliceblue;
}

.table{
	background: white !important;
}